*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("/src/components/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}